@model AnimeANdGameMusic.Models.ViewModels.DetailsGame

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="detailCont">

        @{
            string imageurl = "/Content/Images/Games/default.jpg";
            if (Model.SelectedGame.GameHasPic)
            {
                imageurl = "/Content/Images/Games/" + Model.SelectedGame.GameID + "." + Model.SelectedGame.PicExtension;
            }
        }

        <div class="game-poster">
            <div><img alt="@Model.SelectedGame.GameName" src="@imageurl" /></div>
        </div>

        <h2>@Model.SelectedGame.GameName</h2>

        <div class="assoBuyer">
            <div class="btnContainer">
                <div class="btn backBtn">
                    <a href="/Game/List">Back</a>
                </div>
                <div class="btn editBtn">
                    <a href="/Game/Edit/@Model.SelectedGame.GameID">Update</a>
                </div>
                <div class="btn delBtn">
                    <a href="/Game/DeleteConfirm/@Model.SelectedGame.GameID">Delete</a>
                </div>
            </div>

        </div>
    </div>

    <div class="details">
        <p>Game ID: @Model.SelectedGame.GameID</p>
        <p>GameName: @Model.SelectedGame.GameName</p>
        <p>Release Year: @Model.SelectedGame.ReleaseYear</p>
        <p>Description: @Model.SelectedGame.Description</p>
        <p>Genre: @Model.SelectedGame.GenreTitle</p>
        <p>Price: @Model.SelectedGame.Price</p>
    </div>

</div>
