@model AnimeANdGameMusic.Models.ViewModels.UpdateAnime

@{
    ViewBag.Title = "Edit Anime";
}

<h2>Edit Anime</h2>
<form action="/Anime/Update/@Model.SelectedAnime.AnimeID" method="POST" enctype="multipart/form-data">
    <div style="display:none;">
        <input name="AnimeID" type="text" value="@Model.SelectedAnime.AnimeID" />
    </div>
    <div>
        <label>Name:</label> <br />
        <input name="AnimeName" type="text" value="@Model.SelectedAnime.AnimeName" />
    </div>
    <div>
        <label>Release Date:</label> <br />
        <input name="ReleaseDate" type="date" value="@Model.SelectedAnime.FormattedDate" />
    </div>
    <div>
        <label>Description:</label> <br />
        <input name="Description" type="text" value="@Model.SelectedAnime.Description" />
    </div>
    <br />
    <div class="editInput">
        <label>Game Genre:</label>

        <select name="GenreId">
            @foreach (var genre in Model.GenreOptions)
            {
                string selected = "";
                if (genre.GenreId == Model.SelectedAnime.GenreId)
                {
                    selected = "selected";
                }
                <option value="@genre.GenreId" @selected>@genre.GenreTitle</option>

            }
        </select>
    </div>
    <div class="col-md-6 col-sm-12">
        <input type="file" name="AnimePic" />
    </div>
    <div>
        <input type="submit" value="Update Anime" />
    </div>
</form>